*{
    margin: 0;
}
.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 100vw;
    height: 100vh;

}
a{
    text-decoration: none;
    color: white
}
li{
    list-style: none;
    margin-bottom: 1rem;
}
ul{
    padding: 0;
}
.header,
.main-content,
.sidebar{
    border: 1px solid black;
}
.sidebar{
    grid-column: 1/2;
    grid-row: 1/7 ;
    background-color: aqua;
}
.header{
    grid-column: 2/6;
    grid-row: 1/2 ;
}
.main-content{
    grid-column: 2/6;
    grid-row: 2/7 ;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.project,
.announcement,
.trending{
    border: 1px solid red;
}
.sidebar{
    display: grid;
    grid-template-rows: 0.4fr 1fr 2fr;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    
}
.project{
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
}

.header{
    display: grid;
}
.top-header,
.bottom-header{
    border: 1px solid red;
}